# skip the npm dependencies
node_modules/

# skip the source code
tsconfig.json
src/

# skip the code coverage output
.nyc_output/

# skip user-specific IntelliJ settings
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# skip the module definitions
**/*.iml
