# skip the npm dependencies
node_modules/

# skip the source code
tsconfig.json
src/

# skip the tests and code coverage output
.nyc_output/
test/

# skip user-specific IntelliJ settings
.idea/

# skip the module definitions
**/*.iml
